<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #F5F5F5;
        }
        .a1{
            padding:10%;
            color:black;
            text-decoration:none;
        }
        .a1:hover{
            color:teal;
        }

    </style>
</head>
<body>
    <main>
        <div class = nav>
            <img src="https://i.postimg.cc/1zG2RjQ0/0607cb3a-fd39-4167-89dc-f37a33078669-removebg-preview-1.png" alt="stdlib-logo" width="10%">
            <a href="/" class="a1">Home</a>
            <a href="/login" class="a1">Login</a>
            <a href="/register" class="a1">Signup</a>
    
    </div>
    <div class="para">
    <p>
        <h2>STUDLAB is a collaborative platform designed to faciliate project based learning , smart learning ,
         networking and innovation  among students, educators ,and professionals , fostering a dynamic virtual community that 
         bridges the gap between academia and industry.</h2>
        
    </p>
    </div>
    </main>
</body>
</html>